In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
uploaded

In [ ]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Two_Class_Gaussian_Data.csv']))
print(df)

         x1      x2  y
0   -0.2418 -0.8484  1
1   -1.6919  1.0404  1
2   -0.3198  0.6226  1
3   -2.0725 -0.7876  1
4   -0.1002  0.4883  1
..      ...     ... ..
495  2.0073 -0.3900  0
496  1.3034  2.3219  0
497  0.1829  0.9806  0
498  0.5088  1.3952  0
499  1.8675  0.8729  0

[500 rows x 3 columns]

In [ ]:
df2 = df
# Remove all columns between column index 1 to 3
df.drop(df.iloc[:, m+1:n+m], inplace = True, axis = 1)

In [ ]:
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
data = pd.DataFrame(data)
data

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [ ]:
data

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [ ]:
data2 = data.copy()

In [ ]:
data2 = data.copy()
m=2
n=3
i=1  #'D'
data2.drop(data2.iloc[:, m:m+i], inplace = True, axis = 1)
data2.drop(data2.iloc[:, m+1:], inplace = True, axis = 1)
#data2.drop(data2.iloc[:, 2:3], inplace = True, axis = 1)
data2

    A   B   D
0  A1  B1  D1
1  A2  B2  D2
2  A3  B3  D3
3  A4  B4  D4
4  A5  B5  D5

In [ ]:
i = 0
data2.drop(data2.iloc[:, m:m+i], inplace = True, axis = 1)
data2.drop(data2.iloc[:, m+1:], inplace = True, axis = 1)
data2

    A   B   D
0  A1  B1  D1
1  A2  B2  D2
2  A3  B3  D3
3  A4  B4  D4
4  A5  B5  D5

In [ ]:
len(range(0,1))

1

In [ ]:
df_save = df
shape = df.shape
N = shape[0] # no. of rows of 'df'

In [ ]:
# Select first m columns of dataframe (m is no of features)
m=2
df_x  = df.iloc[: , :m]  #datframe of x(features)
df_x.head()

       x1      x2
0 -0.2418 -0.8484
1 -1.6919  1.0404
2 -0.3198  0.6226
3 -2.0725 -0.7876
4 -0.1002  0.4883

In [ ]:
n=1 # no. of output (yi)
no_output_node  = df.iloc[: , -n:]
no_output_node.head()

   y
0  1
1  1
2  1
3  1
4  1

In [ ]:
df.iloc[1:2]

       x1      x2  y
1 -1.6919  1.0404  1

In [ ]:
import numpy as np
a=np.array([[1,4,2]])  #matrix: 1x3
b = np.array([[1,4,2],[9, 0, 8]]) #matrix: 2x3

In [ ]:


# Make a prediction with weights
# To check y for each row to know whether w0+w1*x1+w2*x2 for each row is greater than 0, so y for that row would be 1, otherwise 0.
def predict(row, weights):
	activation = weights[0] # This line shows the linear summation value in a neuron. The activation function has not been performed on it. When it enters the activation function, it returns 1 or 0.
	for i in range(len(row)-1):   
		activation += weights[i + 1] * row[i]
	return 1.0 if activation >= 0.0 else 0.0  # here it is step function activation and it returns y.

  
# Estimate Perceptron weights using stochastic gradient descent

# train: training dataset ---> [x11, x12, y1; x21, x22, y2; ... ; xn1, xn2, yn], a matrix with n*3 dimensions
# l_rate: learning rate ---> Used to limit the amount each weight is corrected each time it is updated.
# n_epoch:  The number of times to run through the training data while updating the weight.
def train_weights(train, l_rate, n_epoch):
	weights = [0.0 for i in range(len(train[0]))] # [0.0, 0.0, 0.0]
	for epoch in range(n_epoch):
		sum_error = 0.0

# To update bias each time a row is entered, although bias is not associated with a specific input data
		for row in train:
			prediction = predict(row, weights)
			error = row[-1] - prediction
			sum_error += error**2
			weights[0] = weights[0] + l_rate * error # bias is updated and not associated with a specific input data

# To update other weights
			for i in range(len(row)-1): # len(row)-1 is 2, because we need to update weights only for x1 and x2. i=0,1
				weights[i + 1] = weights[i + 1] + l_rate * error * row[i] # row[i] is : dataset[row][i] : i=0 is x1 and i=1 is x2
        # in the above line since it doesn't calculate w0, so each w(i+1) is calculated based on its initialized w(i+1) which was 0 
		print('>epoch=%d, lrate=%.3f, error=%.3f' % (epoch, l_rate, sum_error))
	return weights

dataset = [[2.7810836,2.550537003,3.5, 0],
	[1.465489372,2.362125076,2.5, 0],
		[3.396561688,4.400293529,0],
	[0,3,0]]
l_rate = 0.1 # learning rate is a positive constant less than 1
n_epoch = 5
weights = train_weights(dataset, l_rate, n_epoch)


# Perceptron Algorithm With Stochastic Gradient Descent
def perceptron(train, test, l_rate, n_epoch):
	predictions = list() #To generate an empty list
	weights = train_weights(train, l_rate, n_epoch) # first, recall train-weights function to update weights
	for row in test:
		prediction = predict(row, weights) # second, generate predictions
		predictions.append(prediction)
	return(predictions)

array([[0]])

In [ ]:
b=[[1,3,2], [3, 2, 0]]
for row in b:
  actual=row[-1]
  print(actual)

2
0

In [ ]:
#The second way of modelling a perceptron
def perceptron2(X, y, lr, epochs):
    
    # X --> Inputs.
    # y --> labels/target.
    # lr --> learning rate.
    # epochs --> Number of iterations.
    
    # m-> number of training examples
    # n-> number of features 
    m, n = X.shape
    
    # Initializing parapeters(theta) to zeros.
    # +1 in n+1 for the bias term.
    theta = np.zeros((n+1,1))
    
    # Empty list to store how many examples were 
    # misclassified at every iteration.
    n_miss_list = []
    
    # Training.
    for epoch in range(epochs):
        
        # variable to store #misclassified.
        n_miss = 0
        
        # looping for every example.
        for idx, x_i in enumerate(X):
            
            # Insering 1 for bias, X0 = 1.
            x_i = np.insert(x_i, 0, 1).reshape(-1,1)
            
            # Calculating prediction/hypothesis.
            y_hat = step_func(np.dot(x_i.T, theta))
            
            # Updating if the example is misclassified.
            if (np.squeeze(y_hat) - y[idx]) != 0:
                theta += lr*((y[idx] - y_hat)*x_i)
                
                # Incrementing by 1.
                n_miss += 1
        
        # Appending number of misclassified examples
        # at every iteration.
        n_miss_list.append(n_miss)
        
    return theta, n_miss_list

In [ ]:
# Select first m columns of dataframe (m is no of features)
df_x  = df.iloc[: , :m]  #datframe of x(features)
df_x.head()

In [ ]:
n=1 # no. of output (yi)
no_y  = df.iloc[: , -n:]
no_y.head()

In [ ]:
l_rate = 0.5 # learning rate is a positive constant less than 1
n_epoch = 20
def step_func(z):
    return 1 if (z > 0) else 0

In [ ]:
yy = no_y.to_numpy()
xx = df_x.to_numpy()

In [ ]:
perceptron2(xx, yy, l_rate, n_epoch)

In [ ]:
 #train is a transpose of matrix X in my notes (length of column of train is no. of samples which is length of a row in X )

In [ ]:
# Make a prediction with weights
def predict(row, weights):
	activation = weights[0] 
	for i in range(len(row)-1):   
		activation += weights[i + 1] * row[i]
	return 1.0 if activation >= 0.0 else 0.0  

  
# Estimate Perceptron weights
def train_weights(train, l_rate, n_epoch):
	weights = [0.0 for i in range(len(train[0]))] 
	for epoch in range(n_epoch):
		sum_error = 0.0

# To update bias 
		for row in train:
			prediction = predict(row, weights)
			error = row[-1] - prediction
			sum_error += error**2
			weights[0] = weights[0] + l_rate * error # bias is updated

# To update other weights
			for i in range(len(row)-1): 
				weights[i + 1] = weights[i + 1] + l_rate * error * row[i] 
		print('>epoch=%d, lrate=%.3f, error=%.3f' % (epoch, l_rate, sum_error))
	return weights


# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
	correct = 0
	for i in range(len(actual)):
		if actual[i] == predicted[i]:
			correct += 1
	return correct / float(len(actual)) * 100.0


# Perceptron Algorithm
def perceptron(train, test, l_rate, n_epoch):
  predictions = list() #To generate an empty list
  weights = train_weights(train, l_rate, n_epoch) # first, recall train-weights function to update weights
  for row in test:
    prediction = predict(row, weights) # second, generate predictions
    #print(row[-1])
    predictions.append(prediction)
  return prediction